# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
/venv

# Environment variables
.env

# Logs
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
venv/
__pycache__/
*.pyc
.env
.vscode/