#QuitButton
{
	-fx-background-color : #f5f5f5;
	-fx-text-fill : #6b4ad6;
}
#QuitButton:hover{
	-fx-background-color : #e5e5e5;
	-fx-background-radius : 0 10 10 0;
}
#QuitButton:pressed
{
	-fx-background-color : #c5c5c5;
	-fx-background-radius : 0 10 10 0;
}

/*
 * Login Button Style
 */
#ConnectButton
{
	-fx-background-color : #6b4ad6;
	-fx-background-radius: 20;
	-fx-text-fill : #f5f5f5;
}

#ConnectButton:hover{
	-fx-background-color : #5833d1;
	-fx-text-fill : #e7e5e5;
}
#ConnectButton:pressed
{
	-fx-background-color : #4828af;
	-fx-text-fill : #e7e5e5;
}