
#BackButton
{
	-fx-background-color : #6b4ad6;
	-fx-text-fill : #e7e5e5;
}
#BackButton:hover{
	-fx-background-color : #5833d1;
	-fx-background-radius : 0 10 10 0;
}
#BackButton:pressed
{
	-fx-background-color : #4828af;
	-fx-background-radius : 0 10 10 0;
}


#saveChangesButton,
#updateQuestionButton
{
	-fx-background-color : #f5f5f5;
	-fx-background-radius: 20;
	-fx-text-fill : #6b4ad6;
}

#saveChangesButton:hover,
#updateQuestionButton:hover{
	-fx-background-color : #d5d5d5;
	-fx-text-fill : #6b4ad6;
}

#saveChangesButton:pressed,
#updateQuestionButton:pressed
{
	-fx-background-color : #a3a3a3;
	-fx-text-fill : #6b4ad6;
}


/*
 * Combo Box Style
 *
*/

.combo-box .list-cell 
{
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #f5f5f5;
    -fx-padding: 0 0 0 0;
    -fx-cell-size: 2.5em; 
}	

.combo-box-popup .list-view 
{
    -fx-background-color: #f5f5f5;
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 15;
    -fx-background-insets: 0, 1;
    -fx-text-fill: #000000;
}    

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;
    -fx-background-radius: 10 10 10 10;
    /* No alternate highlighting */
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: #6b4ad6;
    -fx-text-fill: #f5f5f5;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #beafed;
    -fx-text-fill: #6b4ad6;
}

.combo-box-base  
{
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #f5f5f5;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-padding: 0 0 0 10;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing 
{
    -fx-background-color: transparent;
    -fx-background-radius: 15;
    -fx-border-radius: 15 15 0 0;
    -fx-border-color: #f5f5f5;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
    -fx-padding: 0 0 0 10;
}

.combo-box-base:focused {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-padding: 0 0 0 10;
    -fx-cell-size: 3em; 
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

.check-box .box {

-fx-background-color: white;
-fx-border-color:grey;
-fx-border-radius:3px; 

}

.check-box:selected .mark {

-fx-background-color: #6b4ad6;

}

.check-box:selected .box {

-fx-background-color: #f5f5f5;
}